*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62, 5%;
  background-color: rgb(211, 211, 252);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.article-component {
  position: relative;
  margin: 3em 1em;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 3px rgb(0, 0, 0);
}
.article-component .header-img {
  width: 100%;
}
.article-component .article-body {
  padding: 1em 1.2em;
}
.article-component .article-body .article-title {
  font-weight: 600;
  color: rgb(29, 28, 28);
  font-size: 1.1rem;
}
.article-component .article-body .article-text {
  margin-top: 1em;
  font-size: 1rem;
  color: rgb(112, 108, 108);
}
.article-component .article-body .author-box {
  opacity: 1;
  display: block;
  margin-top: 2em;
  display: flex;
  align-items: center;
}
.article-component .article-body .author-box .author-img {
  border-radius: 50%;
  width: 50px;
}
.article-component .article-body .author-box .author-info {
  margin-left: 1em;
}
.article-component .article-body .author-box .author-info .author-name {
  font-weight: bold;
}
.article-component .article-body .author-box .author-info .article-date {
  color: rgb(112, 108, 108);
}
.article-component .article-body .author-box .share-btn {
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
  margin-left: 1.3em;
  cursor: pointer;
}
.article-component .article-body .author-hide {
  opacity: 0;
}
.article-component .popup {
  display: flex;
  align-items: center;
  bottom: 0;
  padding: 1em;
  width: 100%;
  position: absolute;
  background-color: #48556A;
}
.article-component .popup .popup-text {
  text-transform: uppercase;
  color: #8a99b3;
  letter-spacing: 0.2em;
  margin-right: 1em;
}
.article-component .popup .icon {
  margin-right: 1em;
}
.article-component .popup .share-btn2 {
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
  margin-left: 1.3em;
  cursor: pointer;
}
.article-component .popup-hide {
  display: none;
}

footer {
  padding: 1em;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #285f4d;
}

@media (min-width: 768px) {
  .article-component {
    margin: 3em 5em;
  }
  .article-component .article-body .article-title {
    font-size: 2rem;
  }
  .article-component .article-body .article-text {
    font-size: 1.3rem;
  }
  .article-component .article-body .author-box {
    display: flex;
    justify-content: center;
  }
  .article-component .article-body .author-box .author-img, .article-component .article-body .author-box .author-info {
    margin-right: 4em;
  }
  .article-component .popup {
    justify-content: center;
  }
  footer {
    font-size: 1.5rem;
    padding: 1em;
    text-align: center;
  }
  footer a {
    text-decoration: none;
    color: #285f4d;
  }
}
@media (min-width: 1200px) {
  .article-component {
    overflow: visible;
    display: flex;
    flex-direction: row;
  }
  .article-component .header-img {
    width: 40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .article-component .article-body {
    margin: 1.5em;
  }
  .article-component .article-body .article-text {
    margin-top: 1.5em;
  }
  .article-component .article-body .author-box {
    justify-content: flex-start;
  }
  .article-component .article-body .author-box .author-img {
    margin-right: 0em;
  }
  .article-component .article-body .author-box .author-info {
    margin-right: 13em;
  }
  .article-component .popup {
    bottom: 100px;
    width: 300px;
    border-radius: 10px;
    right: -100px;
  }
  .article-component .popup .share-btn2 {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */